---
Language: Cpp
BasedOnStyle: LLVM
Standard: Latest
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 110
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<(SDL3|vulkan|volk|vk_mem_alloc|imgui|enet|miniupnpc|miniz|gtest)'
    Priority: 2
  - Regex: '^<'
    Priority: 3
NamespaceIndentation: None
SortIncludes: CaseSensitive
SpaceAfterTemplateKeyword: true
